@media screen and (max-width: 768px) {
	.hero-head h1{
		font-size: 20px;
	}
	.hero-head input{
	margin-top: 30px;
	width: 150px;
	padding:10px 25px;
	color:#000;
	font-size: 15px;
	}
	.list-hero{
		display: none;
	}
	.menu-icon{
		display: flex;
		background-color: 
	}
	#home{
		background-position: 0px 0px;
	}
	.c1{
		display: none;
	}
	#menu{
		margin-bottom: 2200px;
	}
	#popular{
		margin-bottom: 1900px;
	}
	.about-head{
		flex-direction: column-reverse;
		margin: 0px;
	}
	.side1-about{
		margin: 0px 0px 50px 0px;
		width: 350px;
		height: 400px;
	}
	.side1-about img{
		width: 100vw;
	}
	.side2-about h1{
		margin-bottom: 10px;
	}
	.side2-about p{
		width: 300px;
		margin-bottom: 20px;
	}

	.line{
		display: none;
	}

	.side2-about{
		margin: 0px auto;
	}

	.search{
		display: none;
	}
	#conect{
		height: 100vh;
	}
	.row-conect{
		justify-content: space-between;
	}
	#developer h2{
		font-size: 1.2rem;
	}
}